{% extends "templates/base.html" %}

{% block title %}Edit message{% endblock %}

{% block content %}
<form role="form" action="" method="POST" id="addmessi">
  <div class="form-group">
    <label for="mess-title">Title:</label>
    <input type="text" class="form-control" id="mess-title" name="mess-title" value="{{ message.title }}">
  </div>
  <div class="form-group">
    <label for="mess-key">Key:</label>
    <input type="password" class="form-control" id="mess-key" name="mess-key" value="{{ m_key }}">
  </div>
  <div class="form-group">
    <label for="mess-acc" class="text-muted">Access to:</label>
    <input type="text" class="form-control" id="mess-acc" name="mess-acc" value="{{ m_access }}">
  </div>
  <div class="form-group">
    <label for="mess-text">Message:</label>
    <textarea class="form-control" rows="3" id="mess-text" name="mess-text" placeholder="Your secret info here">{{ content }}</textarea>
  </div>
  <input type="hidden" id="cur-mess-key" name="cur-mess-key" value="{{ m_key }}">
  <input type="submit" name="upd-mess" id="upd-mess" class="btn btn-default" value="Update message">
  <input type="submit" name="del-mess" id="del-mess" class="btn btn-danger" value="Fire message">
</form>

{% endblock %}