{% extends "templates/base.html" %}

{% block title %}Access to message{% endblock %}

{% block content %}
<h4>{{ message.title }} <small>{{ message.dt.strftime('%d.%m.%Y %H:%M:%S') }}</small></h4>
<form class="form-inline" role="form" action="" method="POST">
  <div class="form-group">
    <label class="sr-only" for="mess-key">Key to decrypt</label>
    <input type="password" name="mess-key" id="mess-key" class="form-control" placeholder="Key to decrypt">
  </div>
  <input type="submit" name="read-mess" id="read-mess" class="btn btn-default" value="Decrypt">
</form>

{% endblock %}